
server.log
# Ignore zip files
*.zip
.env
# Ignore specific files and folders
node_modules/
config.js
cronjob.js
render.yaml
server2.js
sms-errors.log
smsService.js

updated_oneclick_backend(23-9-24)
oneclick-backend(21-9-24)
